/* @group ----- Generic HTML elements ----- */
/* line 2, sass/_screen.scss */
* {
  box-sizing: border-box;
}

/* line 6, sass/_screen.scss */
html {
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
}

/* line 13, sass/_screen.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 18, sass/_screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
}

/* line 22, sass/_screen.scss */
h1 {
  font-size: 32px;
  margin: 0.375em 0;
  line-height: 48px;
}

/* line 28, sass/_screen.scss */
h2 {
  font-size: 28px;
  margin: 0.42857em 0;
  line-height: 48px;
}

/* line 34, sass/_screen.scss */
h3 {
  font-size: 24px;
  margin: 0.5em 0;
}

/* line 39, sass/_screen.scss */
h4 {
  font-size: 20px;
  margin: 0.6em 0;
}

/* line 44, sass/_screen.scss */
a {
  color: #000;
}

/* line 48, sass/_screen.scss */
a:link,
a:visited {
  text-decoration: none;
}

/* line 53, sass/_screen.scss */
a:active,
a:hover {
  color: #9E0000;
}

/* line 58, sass/_screen.scss */
p a,
span a,
div a {
  text-decoration: underline;
}

/* line 64, sass/_screen.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="datetime-local"] {
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 24px;
  border-color: #e7e7e7;
  border-width: 0.0625em;
  border-style: solid;
  padding: 0.3125em;
}

/* line 79, sass/_screen.scss */
input[type="submit"],
button,
.button {
  background-color: #000;
  text-align: center;
  padding: 0.375em;
  border-radius: 2px;
  color: #eee;
  line-height: 24px;
  display: inline-block;
  font-weight: bold;
}
/* line 91, sass/_screen.scss */
input[type="submit"]:hover,
button:hover,
.button:hover {
  background-color: #9E0000;
  color: #fff;
  border-bottom-width: 0px;
}
/* line 97, sass/_screen.scss */
input[type="submit"].inactive,
button.inactive,
.button.inactive {
  background-color: rgba(0, 0, 0, 0.08);
  color: #999;
}

/* @end */
/* @group ----- Containers ----- */
/* line 112, sass/_screen.scss */
nav ul {
  list-style-type: none;
  display: inline-block;
}

/* @end */
/* @group ----- Pagination ----- */
/* line 121, sass/_screen.scss */
.pagination .button {
  min-width: 36px;
}

/* line 125, sass/_screen.scss */
.pagination form {
  display: inline-block;
  margin-right: 1.5em;
}

/* @end */
/* @group ----- Header ----- */
/* line 134, sass/_screen.scss */
header {
  max-width: 960px;
  margin: 0 auto;
  color: #e7e7e7;
  position: relative;
}
/* line 139, sass/_screen.scss */
header:before {
  content: "";
  position: absolute;
  top: 0;
  left: -9999px;
  right: -9999px;
  bottom: 0;
  background-color: #000;
  z-index: -1;
}

/* line 151, sass/_screen.scss */
header a:link,
header a:visited {
  color: #fff;
}

/* line 156, sass/_screen.scss */
header {
  padding: 0 1.5em;
}

/* line 160, sass/_screen.scss */
header .site-title {
  display: inline-block;
  vertical-align: middle;
}

/* line 165, sass/_screen.scss */
header h1 {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

/* line 171, sass/_screen.scss */
header nav,
header nav ul li {
  display: inline-block;
}

/* line 176, sass/_screen.scss */
header nav ul li {
  margin: 0 1em;
}

/* @end */
/* @group ----- Page and Blocks ----- */
/* line 184, sass/_screen.scss */
#content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.5em 1.5em;
}

/* line 189, sass/_screen.scss */
.item-showcase {
  margin: 1.5em 0;
  border-color: rgba(0, 0, 0, 0.08);
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 1.4375em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: -0.0625em;
  overflow: hidden;
  text-align: center;
  clear: both;
}

/* line 199, sass/_screen.scss */
.item.resource .caption {
  font-size: 12px;
  line-height: 24px;
}
/* line 203, sass/_screen.scss */
.item.resource .caption * {
  margin: 0 0 2em 0;
}
/* line 207, sass/_screen.scss */
.item.resource .caption > *:last-child {
  margin-bottom: 0;
}

/* line 212, sass/_screen.scss */
.item-showcase .resource.item {
  display: inline-block;
  vertical-align: top;
}
/* line 216, sass/_screen.scss */
.item-showcase .resource.item:not(:last-child) {
  margin-bottom: 1.5em;
}
/* line 220, sass/_screen.scss */
.item-showcase .resource.item img {
  margin-right: 0.75em;
}
/* line 224, sass/_screen.scss */
.item-showcase .resource.item:only-child img {
  margin: 0 auto;
}
/* line 228, sass/_screen.scss */
.item-showcase .resource.item:not(:only-child) {
  width: 25%;
  clear: none;
  padding: 0 5.26316%;
}
/* line 234, sass/_screen.scss */
.item-showcase .resource.item:not(:only-child) h3 {
  clear: left;
  font-size: 12px;
  line-height: 24px;
  margin: 1em 0 0;
}
/* line 241, sass/_screen.scss */
.item-showcase .resource.item:not(:only-child) img {
  max-height: 10.5em;
  width: auto;
  float: none;
  margin-right: 0;
  vertical-align: top;
}

/* line 250, sass/_screen.scss */
.right,
.left {
  overflow: hidden;
}

/* line 255, sass/_screen.scss */
.left .item.resource,
.right .item.resource {
  margin: 0 0 1.5em 0;
  display: table;
}
/* line 260, sass/_screen.scss */
.left .item.resource .media-render a,
.right .item.resource .media-render a {
  vertical-align: top;
}
/* line 264, sass/_screen.scss */
.left .item.resource .media-render ~ *,
.right .item.resource .media-render ~ * {
  display: table-caption;
  caption-side: bottom;
}
/* line 269, sass/_screen.scss */
.left .item.resource img,
.right .item.resource img {
  max-width: 100%;
  vertical-align: top;
  margin-bottom: 0.75em;
}
/* line 275, sass/_screen.scss */
.left .item.resource > a:first-child ~ *,
.right .item.resource > a:first-child ~ * {
  display: table-caption;
  caption-side: bottom;
}

/* line 281, sass/_screen.scss */
.left:not(.file) .item.resource,
.right:not(.file) .item.resource {
  max-width: 50%;
}

/* line 286, sass/_screen.scss */
.left.file,
.right.file {
  max-width: 50%;
}

/* line 291, sass/_screen.scss */
.left.file {
  float: left;
  clear: left;
  margin-right: 1.5em;
}

/* line 297, sass/_screen.scss */
.right.file {
  float: right;
  clear: right;
  margin-left: 1.5em;
}

/* line 303, sass/_screen.scss */
.left .item.resource > a:first-child,
.right .item.resource > a:first-child {
  vertical-align: top;
}

/* line 308, sass/_screen.scss */
.medium .item.resource > h3,
.square .item.resource > h3 {
  font-size: 16px;
  line-height: 24px;
}

/* line 314, sass/_screen.scss */
.left .item.resource > h3,
.right .item.resource > h3 {
  margin: 0;
}

/* line 319, sass/_screen.scss */
.left .item.resource + p,
.right .item.resource + p {
  margin-top: 0;
}

/* line 324, sass/_screen.scss */
.break {
  width: 100%;
  clear: both;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: -0.0625em;
  margin: 1.5em 0;
}
/* line 330, sass/_screen.scss */
.break.transparent {
  border-color: transparent;
}
/* line 334, sass/_screen.scss */
.break.opaque {
  border-color: rgba(0, 0, 0, 0.08);
}

/* line 339, sass/_screen.scss */
.preview-block {
  margin: 1.5em 0;
  overflow: hidden;
  clear: both;
}

/* line 345, sass/_screen.scss */
.resource-list.preview + a {
  background-color: #000;
  text-align: center;
  padding: 0.375em;
  border-radius: 2px;
  color: #eee;
  line-height: 24px;
  display: inline-block;
  font-weight: bold;
}
/* line 355, sass/_screen.scss */
.resource-list.preview + a:hover {
  background-color: #9E0000;
  color: #fff;
  border-bottom-width: 0px;
}

/* line 362, sass/_screen.scss */
.resource-list .resource > *:only-child {
  margin-bottom: 0;
}

/* line 366, sass/_screen.scss */
.toc-block > ul {
  margin: 2em 0;
  list-style-type: none;
  border-left: 5px solid #eee;
}

/* line 372, sass/_screen.scss */
.toc-block > ul > li {
  margin-bottom: 0.75em;
}

/* line 376, sass/_screen.scss */
.toc-block > ul > li > a {
  font-weight: bold;
}

/* line 380, sass/_screen.scss */
.toc-block ul ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 385, sass/_screen.scss */
.toc-block ul ul ul {
  padding-left: 1.25em;
}

/* line 389, sass/_screen.scss */
.toc-block ul ul li:before {
  content: "\2014";
  color: rgba(0, 0, 0, 0.08);
}

/* line 394, sass/_screen.scss */
.site-page-pagination {
  clear: both;
}

/* @end */
/* @group ----- Resource List ----- */
/* line 402, sass/_screen.scss */
ul.resource-list {
  list-style-type: none;
  padding-left: 0;
}

/* line 407, sass/_screen.scss */
ul.resource-list .resource {
  border-color: rgba(0, 0, 0, 0.08);
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 1.4375em;
  margin: 1.5em 0;
  overflow: hidden;
  position: relative;
}
/* line 414, sass/_screen.scss */
ul.resource-list .resource > *:last-child {
  margin-bottom: 0;
}
/* line 418, sass/_screen.scss */
ul.resource-list .resource:first-child {
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 1.4375em;
}

/* line 423, sass/_screen.scss */
ul.resource-list .resource img {
  height: auto;
  width: 6em;
  float: right;
  margin-left: 0.75em;
}

/* line 430, sass/_screen.scss */
ul.resource-list .resource h4 {
  margin-top: 0;
}

/* line 434, sass/_screen.scss */
ul.resource-list .resource .description {
  max-height: 6em;
  overflow: hidden;
  position: relative;
}
/* line 439, sass/_screen.scss */
ul.resource-list .resource .description:after {
  content: "";
  position: absolute;
  top: 4.125em;
  left: 0;
  right: 0;
  height: 1.875em;
  background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
}

/* line 450, sass/_screen.scss */
ul.resource-list .resource img ~ * {
  width: calc(100% - 6.75em);
}

/* @end */
/* @group ----- Resource/Show ----- */
/* line 458, sass/_screen.scss */
.resource.show #content > h2:first-of-type {
  margin-bottom: 0;
  display: block;
  width: 79.59184%;
  float: right;
  word-break: break-word;
}

/* line 466, sass/_screen.scss */
.resource.show #content > h2 + h3 {
  font-family: "Lora", serif;
  font-size: 16px;
  background-color: #000;
  color: #e7e7e7;
  padding: 0.375em 0.75em;
  display: block;
  margin: 1.125em 0;
  line-height: 24px;
  vertical-align: middle;
  width: 18.36735%;
  float: left;
  text-align: right;
}

/* line 481, sass/_screen.scss */
.resource.show .property {
  margin-bottom: 1.5em;
  text-align: right;
  clear: both;
}

/* line 487, sass/_screen.scss */
.resource.show .property h4 {
  width: 18.36735%;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  padding-right: 0.75em;
  word-break: break-all;
}

/* line 496, sass/_screen.scss */
.resource.show .property .value {
  width: 79.59184%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
/* line 502, sass/_screen.scss */
.resource.show .property .value:not(:first-of-type) {
  border-color: #eee;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.3125em;
  margin-top: 0.375em;
}

/* line 509, sass/_screen.scss */
.resource.show .media-list,
.media.resource.show .media-render {
  width: 79.59184%;
  float: right;
  margin: 1.5em 0;
}

/* line 516, sass/_screen.scss */
.media-render > * {
  max-width: 100%;
}

/* @end */
