/* @group ----- Generic HTML elements ----- */
* {
    box-sizing: border-box;
}

html {
    font-family: "Lora", serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bitter", serif;
}

h1 {
    font-size: 2 * $base-font-size;
    margin: $spacing-m 0;
    line-height: 2 * $base-line-height;
}

h2 {
    font-size: 1.75 * $base-font-size;
    margin: $spacing-m 0;
    line-height: 2 * $base-line-height;
}

h3 {
    font-size: 1.5 * $base-font-size;
    margin: $spacing-m 0;
}

h4 {
    font-size: 1.25 * $base-font-size;
    margin: $spacing-m 0;
}

a {
    color: #000;
}

a:link,
a:visited {
    text-decoration: none;
}

a:active,
a:hover {
    color: $red;
}

p a,
span a,
div a {
    text-decoration: underline;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="datetime-local"] {
    font-family: "Lora", serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    border: 1px solid #e7e7e7;
    padding: $spacing-s - 1px;
}

input[type="submit"],
button,
.button {
    background-color: #000;
    text-align: center;
    padding: $spacing-s;
    border-radius: 2px;
    color: $gray;
    line-height: $base-line-height;
    display: inline-block;
    font-weight: bold;

    &:hover {
        background-color: $red;
        color: #fff;
        border-bottom-width: 0px;
    }

    &.inactive {
        background-color: $light;
        color: #999;;
    }
}

/* @end */

/* @group ----- Containers ----- */

@mixin container {
    max-width: 960px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

/* @end */

/* @group ----- Pagination ----- */

.pagination .button {
    min-width: 1.5 * $base-line-height;
}

.pagination form {
    display: inline-block;
    margin-right: $spacing-l;
}

/* @end */

/* @group ----- Header ----- */

header {
    max-width: 960px;
    margin: 0 auto;
    color: #e7e7e7;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -9999px;
        right: -9999px;
        bottom: 0;
        background-color: #000;
        z-index: -1;
    }
}

header a:link,
header a:visited {
    color: #fff;
}

header {
    padding: 0 $spacing-l;
}

header .site-title {
    display: inline-block;
    vertical-align: middle;
}

header h1 {
    margin: 0;
    font-size: 1.25 * $base-font-size;
    line-height: $base-line-height;
}

header nav,
header nav ul li {
    display: inline-block;
}

header nav ul {
    padding-left: 0;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li ul {
    display: none;
}

/* @end */

/* @group ----- Page and Blocks ----- */

#content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 $spacing-l $spacing-l;
}

.item-showcase {
    margin: $spacing-l 0;
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
    padding: ($spacing-s - 1px) 0 0;
    overflow: hidden;
    text-align: center;
    clear: both;
}

.item.resource .caption {
    font-size: .75 * $base-font-size;
    line-height: $base-line-height;

    * {
        margin: 0 0 $spacing-l 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}

.item-showcase .resource.item {
    display: inline-block;
    vertical-align: top;

    &:not(:last-child) {
        margin-bottom: $spacing-l;
    }

    img {
        margin-right: $spacing-m;
    }

    &:only-child img {
        margin: 0 auto;
    }

    &:not(:only-child) {
        width: 25%;
        clear: none;
        padding: 0 gutter();
    }

    &:not(:only-child) h3 {
        clear: left;
        font-size: .75 * $base-font-size;
        line-height: $base-line-height;
        margin: $spacing-m 0 0;
    }

    &:not(:only-child) img {
        max-height: 7 * $spacing-l;
        width: auto;
        float: none;
        margin-right: 0;
        vertical-align: top;
    }
}

.right,
.left {
    overflow: hidden;
}

.left .item.resource,
.right .item.resource {
    margin: 0 0 $spacing-l 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    max-width: 40vw;

    .media-render a {
        vertical-align: top;
    }

    .media-render > *, img {
        max-width: 40vw;
    }

    img {
        vertical-align: top;
        margin-bottom: $spacing-m;
    }
}

.left:not(.file) .item.resource,
.right:not(.file) .item.resource {
    max-width: 50%;
}

/* IE 10 - Edge min-content equivalent */
.file {
    display: -ms-grid;
    -ms-grid-columns: min-content;
}

.left.file {
    float: left;
    clear: left;
    margin-right: $spacing-l;
}

.right.file {
    float: right;
    clear: right;
    margin-left: $spacing-l;
}

.left .item.resource > a:first-child,
.right .item.resource > a:first-child {
    vertical-align: top;
}

.medium .item.resource > h3,
.square .item.resource > h3 {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.left .item.resource + p,
.right .item.resource + p {
    margin-top: 0;
}

.break {
    width: 100%;
    clear: both;
    border-bottom: 1px solid $gray;
    padding-bottom: -1px;
    margin: $spacing-l 0;

    &.transparent {
        border-color: transparent;
    }

    &.opaque {
        border-color: $light;
    }
}

.preview-block {
    margin: $spacing-l 0;
    overflow: hidden;
    clear: both;
}

.resource-list.preview + a {
    background-color: #000;
    text-align: center;
    padding: $spacing-s;
    border-radius: 2px;
    color: $gray;
    line-height: $base-line-height;
    display: inline-block;
    font-weight: bold;

    &:hover {
        background-color: $red;
        color: #fff;
        border-bottom-width: 0px;
    }
}

.resource-list .resource > *:only-child {
    margin-bottom: 0;
}

.toc-block > ul {
    margin: $spacing-l 0;
    list-style-type: none;
    border-left: 5px solid $gray;
}

.toc-block > ul > li {
    margin-bottom: $spacing-m;
}

.toc-block > ul > li > a {
    font-weight: bold;
}

.toc-block ul ul {
    list-style-type: none;
    padding-left: 0;
}

.toc-block ul ul ul {
    padding-left: 1.25em;
}

.toc-block ul ul li:before {
    content: "\2014";
    color: $light;
}

.site-page-pagination {
    clear: both;
}

/* @end */

/* @group ----- Resource List ----- */

ul.resource-list {
    list-style-type: none;
    padding-left: 0;
}

ul.resource-list .resource {
    border-bottom: 1px solid $light;
    padding-bottom: $spacing-l - 1px;
    margin: $spacing-l 0;
    overflow: hidden;
    position: relative;

    & > *:last-child {
        margin-bottom: 0;
    }

    &:first-child {
        border-top: 1px solid $light;
        padding-top: $spacing-l - 1px;
    }
}

ul.resource-list .resource img {
    height: auto;
    width: 4 * $spacing-l;
    float: right;
    margin-left: $spacing-m;
}

ul.resource-list .resource h4 {
    margin-top: 0;
}

ul.resource-list .resource .description {
    max-height: 4 * $spacing-l;
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 2.75 * $spacing-l;
        left: 0;
        right: 0;
        height: 1.25 * $spacing-l;
        background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    }
}

ul.resource-list .resource img ~ * {
    width: calc(100% - #{4.5 * $spacing-l});
}

/* @end */

/* @group ----- Resource/Show ----- */

.resource.show #content > h2:first-of-type {
    margin-bottom: 0;
    display: block;
    width: span(8 of 10);
    float: right;
    word-break: break-word;
}

.resource.show #content > h2 + h3 {
    font-family: "Lora", serif;
    font-size: $base-font-size;
    background-color: #000;
    color: #e7e7e7;
    padding: $spacing-s $spacing-m;
    display: block;
    margin: (.75 * $spacing-l) 0;
    line-height: $base-line-height;
    vertical-align: middle;
    width: span(2 of 10);
    float: left;
    text-align: right;
}

.resource.show .property {
    margin-bottom: $spacing-l;
    text-align: right;
    clear: both;
}

.resource.show .property h4 {
    width: span(2 of 10);
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding-right: $spacing-m;
    word-break: break-all;
}

.resource.show .property .field-term {
    font-size: .75 * $base-font-size;
    display: inline-block;
}

.resource.show .property .value {
    width: span(8 of 10);
    display: inline-block;
    vertical-align: top;
    text-align: left;

    &:not(:first-of-type) {
        border-top: 1px solid $gray;
        padding-top: $spacing-s - 1px;
        margin-top: $spacing-s;
    }
}

.resource.show .media-list,
.media.resource.show .media-render {
    width: span(8 of 10);
    float: right;
    margin: $spacing-l 0;
}

.media-render > * {
    max-width: 100%;
}

/* @end */
